:root {
    --white: #f2f2f2;
    --theme: #208b81;
    --bg-black: #2b2e2f;

}

html {
    color: #ffffff !important;
}
body {
    background: var(--bg-black);
}
/* фильтр */
.select {
    display: block;
    background: var(--bg-black);
    border-color: var(--bg-black);
    color: var(--white);
}
select:focus {
    outline: 1px solid var(--bg-black);
}
/* кнопка удаления обекта */
.btn-floating{
    color: white;
}
/* расположение текста в кнопке */
.waves-effect {
    overflow: visible;
}
.btn {
    background-color: var(--theme);
}
/*цвет теста внутри*/
input{
    color: var(--white) !important;
}

/*.btn-floating {*/
/*    background-color:var(--theme);*/

/*}*/
/*.btn-floating {*/
/*    background-color:var(--theme);*/
/*}*/
/* Отладка */
/*div {*/
/*  border: 1px solid #00c939 !important;;*/
/*}*/

/*.tab {*/
/*    border: 1px solid #ffffff; !* обводка item *!*/
/*}*/