html {
    color: white !important;
}
body {
    background: rgb(43, 46, 47);
}
/* фильтр */
.select {
    display: block;
    background: rgb(43, 46, 47);
    border-color: rgb(43, 46, 47);
    color: white;
}
/* кнопка удаления обекта */
.btn-floating{
    color: white;
}

/*div {*/
/*  border-color: #faff00 !important;*/
/*  border-style: solid;*/
/*}*/